@model IEnumerable<Monafasati.Core.Entity.Statu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-right">
    <h1>حالات المنافسة</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">إضافة</a>
    </p>
</div>
<table class="table table-bordered text-right">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                @*<a class="btn btn-outline-info"asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> |*@
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
